[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=christian
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error -c /home/christian/.config/transmission-daemon
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
